@model ResultViewModel

@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
<br />

<form method="post">
    @Html.DropDownList("statSelect",
                        new SelectList(Model.statList.Select(x => new { Value = x.statNumber, Text = x.statName }),
                            "Value",
                            "Text"
                            )                        
                        )
<input type="submit" />
</form>
<br />

<h2>@Model.resultList[0].statName</h2>

<table>
    <tr>
        <th>#</th>
        <th>Team Name</th>
        <th>Value</th>
    </tr>
    @*@foreach (var item in Model)
        {
            <tr>
                <td>@item.</td>
                <td>@item.teamName</td>
                <td>@item.statValue</td>
            </tr>
        }*@
    @for (int i = 0; i < Model.resultList.Count; i++)
        {
            <tr>
                <td>@(i+1) &nbsp; </td>
                <td>@Model.resultList[i].teamName</td>
                <td>@Model.resultList[i].statValue</td>
            </tr>
        }
</table>
